Options -Indexes
RewriteEngine on
RewriteCond %{HTTP_HOST} !^www.piesemasiniagricole.ro$ [NC]
RewriteRule ^(.*)$ http://www.piesemasiniagricole.ro/$1 [L,R=301,NC]

<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>